.market-info-list {
    padding: 0 10rem;
    height: 15rem;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right, rgb(63, 81, 181), rgb(100, 181, 246))
      rgb(255, 255, 255);
  }
  
  .info-type {
    text-align: center;
    font-weight: 600;
    color: white;
  }
  
  @media screen and (max-width: 1000px) {
    .market-info-list {
      padding: 0 5rem;
    }
  }
  
  @media screen and (max-width: 780px) {
    .market-info-list {
      padding: 0 1rem;
    }
  }
  
  @media screen and (max-width: 600px) {
    .info-type {
      visibility: hidden;
    }
  }
  